<!--
 * @Author: huangzh873
 * @Date: 2019-12-16 13:59:06
 * @LastEditors: huangzh873
 * @LastEditTime: 2019-12-17 15:14:12
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script>
    var __ajax = new XMLHttpRequest()
    // 当请求为异步的时候可以用onreadystatechange
    __ajax.onreadystatechange = function () {
      console.log('__ajax1 :', __ajax.readyState);
      console.log('__ajax2 :', __ajax.status);
    }
    __ajax.open('GET', "https://jsonplaceholder.typicode.com/posts/1", true)
    __ajax.send()

    // 若请求为同步的，直接把要执行的内容放在send()后面即可
    
    console.log('__ajax :', __ajax);
  </script>
</head>
<body>
  
</body>
</html>