<!--
 * @Author: huangzh873
 * @Date: 2019-12-16 13:59:06
 * @LastEditors  : huangzh873
 * @LastEditTime : 2020-01-06 17:08:14
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../style/index.scss">
  <style>
    :root {
      font-size: 62.5%;
    }
    .test1{
      font-size: 1em;
      height: 100px;
      width: 40%;
      display: inline-block;
      background-color: red;
      margin-bottom: 1em;
      margin-right: 1rem;
    }
    .test2{
      height: 100px;
      width: 40%;
      display: inline-block;
      background-color: blue;
    }
    .aaa{
      height: 200px;
    }
  </style>
  
</head>
<body>
  <div >
    <div class="test1">111</div>
    <div class="test2">222</div>
    <div class="imglist">
      <img width="200" class="aaa" src="http://dmimg.5054399.com/allimg/pkm/pk/22.jpg" alt="">
    </div>
    <img width="200" class="aaa" src="http://dmimg.5054399.com/allimg/pkm/pk/22.jpg" alt="">
</body>
<script>
  console.log([document.getElementsByClassName('aaa')[0]])
  let arr = [];
  let wrap = document.getElementsByClassName('imglist')[0];
  let img = new Image();
  img.src = 'http://dmimg.5054399.com/allimg/pkm/pk/22.jpg';

  imglist.appendChild(img);


  function test1(params) {
    return new Promise((resolve) => {
      // setTimeout(resolve, params);
      setTimeout(() => {
        console.log(params);
        resolve()
      }, 1000);
    })
  }
  (async function() {
    for(var i = 0; i < 5; i++) {
      let aaa = await test1(i)
    }
    console.log('params :', i);
  })()
  // for(var i = 0; i < 5; i++) {
  //   test1(i)
  // }
  // Promise.all(arr).then(() => {
  //   console.log('params :', i);
  //   console.log('asd');
  // })
</script>
</html>